<html>
<head>
	<title>Web Crawler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body style="background:#f2f2f2" >
	<div style="background:#e6e6ff;text-align: left">
		<a href="./templates/front.html">Home</a>
		<a href="front.html">About</a>
		<a href="front.html">Help</a><br><br>

	</div>
	<hr style="border: 2px solid blue"/>
	<div >
		
	
	<center>

		<h1>
			WEB CRAWLER
		</h1>
		

		<form name="form" action="Search" method="POST">
		<input type="textbox" style="color: blue; width: 250px " name="keyword" placeholder="Enter the word you want to search:"></input><br>
		<br>
		<input type="submit" id="Search" style="color: blue" value="Search" >
		
	</form>
	</center>
	</div>

</body>
</html>
